.form{
    display: flex;
    flex-direction: column;
    > * {
        margin-bottom: $m-size;
    }

    &_error{
        margin: 0 0 $m-size 0;
        font-style: italic;
        color: #d33e3e;
    }
    
}