.text-input{
    border: 1px solid #cacccd;
    height: 5rem;
    padding: $s-size;
    font-size: $l-font;
    font-weight: 300;
}

.select{
    @extend .text-input;
}

.textarea{
    @extend .text-input;
    height: 10rem;
}