// COLOR

// SPACE - VALUES

$s-size : 1.2rem;
$m-size : 1.6rem;
$l-size : 3.2rem;
$xl-size :4.8rem;

// $s-font : 1.2rem;
// $m-font : 1.6rem;
$l-font : 1.8rem;
// $xl-font :4.8rem;

$blue : #1C88BF;
$blue-dark : #364051;
$desktop_breakpoint : 45rem;